.DS_Store
Concept_3/.ipynb_checkpoints/
Concept_3/.DS_Store
Concept_12/.ipynb_checkpoints/
Concept_12/.DS_Store
Concept_20/.ipynb_checkpoints/
Concept_20/.DS_Store
Concept_21/.ipynb_checkpoints/
Concept_21/.DS_Store
Concept_26/dogImages
Concept_26/bottleneck_features/DogVGG16Data.npz
Concept_26/.ipynb_checkpoints/
Concept_26/.DS_Store
